/* Text styles */
.xr_s0 {font-family:Arial;font-weight:normal;font-style:normal;font-size:10px;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0;color:#F2F2F2;background-color:Transparent;letter-spacing:0em;}
.xr_s1 {font-family:Arial;font-weight:normal;font-style:normal;font-size:12px;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0;color:#0D0D0D;background-color:Transparent;letter-spacing:0em;}
